html  
    head
        block title
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        link(rel='stylesheet' href='http://localhost:8000/css/style.css' type='text/css' media='all')
        link(href='//fonts.googleapis.com/css?family=Quicksand:300,400,500,700' rel='stylesheet')
    h1
        a(href = '/'): img(src='../images/mainLabel1.png')
    block content